*.env
.vscode
.idea
.github/workflows/test.yml
/frontend/.husky/staged-files
jar
/config/logs
/logs/*.log
/logs/*.json
/frontend/public/build
/frontend/public/thumbnails/*
/frontend/public/*.mp4
/frontend/public/videos/*
/migrations/migrations
/provider-middleware/providers.db
/backend/server
/provider-middleware/middleware
/provider-middleware/bin
/backend/bin
/bin/*
/tmp
/csvs/zims/*.zim
/.claude