*.env
.vscode
.idea
.github/workflows/test.yml
/frontend/.husky/staged-files
jar
/config/logs
/logs/*.log
/logs/*.json
/frontend/public/build
/frontend/public/thumbnails/*
/migrations/migrations
/provider-middleware/providers.db
/backend/server
/provider-middleware/middleware
/bin/*
/tmp
