root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./bin/provider-middleware ./provider-middleware/."
bin = "bin/provider-middleware"
include_dir = ["backend", "provider-middleware"]
include_file = []
exclude_dir = ["frontend", "config", "backend/tasks"]
exclude_regex = ["_test\\.go"]
exclude_unchanged = true

log = "logs/middleware.air.log"
stop_on_error = true
send_interrupt = true
rerun_delay = 500

[log]
time = false
main_only = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
keep_scroll = true
