/* Stylesheet for locally loaded fonts */

/* Lato Thin */

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(lato-thin-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(lato-thin-normal-latin.woff2) format("woff2");
}

/* Lato Light */

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(lato-light-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(lato-light-normal-latin.woff2) format("woff2");
}

/* Lato Normal */

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(lato-regular-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(lato-regular-normal-latin.woff2) format("woff2");
}

/* Lato Bold */

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(lato-bold-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(lato-bold-normal-latin.woff2) format("woff2");
}

/* Lato Black */

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(lato-black-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(lato-black-normal-latin.woff2) format("woff2");
}

/* Poppins Thin */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(poppins-thin-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(poppins-thin-normal-latin.woff2) format("woff2");
}

/* Poppins Extra Light */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(poppins-extra-light-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(poppins-extra-light-normal-latin.woff2) format("woff2");
}

/* Poppins Light */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(poppins-light-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(poppins-light-normal-latin.woff2) format("woff2");
}

/* Poppins Normal */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(poppins-regular-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(poppins-regular-normal-latin.woff2) format("woff2");
}

/* Poppins Medium */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(poppins-medium-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(poppins-medium-normal-latin.woff2) format("woff2");
}

/* Poppins Semi Bold */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(poppins-semi-bold-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(poppins-semi-bold-normal-latin.woff2) format("woff2");
}

/* Poppins Bold */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(poppins-bold-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(poppins-bold-normal-latin.woff2) format("woff2");
}

/* Poppins Extra Bold */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(poppins-extra-bold-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(poppins-extra-bold-normal-latin.woff2) format("woff2");
}

/* Poppins Black */

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(poppins-black-italic-latin.woff2) format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(poppins-black-normal-latin.woff2) format("woff2");
}
