apiVersion: v1
kind: ConfigMap
metadata:
  name: kratos-id-schema
data:
  identity.schema.json: |
   {
     "$id": "default",
     "$schema": "http://json-schema.org/draft-07/schema#",
     "title": "Student",
     "type": "object",
     "properties": {
       "traits": {
         "type": "object",
         "properties": {
           "username": {
             "type": "string",
             "ory.sh/kratos": {
               "credentials": {
                 "password": {
                   "identifier": true
                 }
               }
             }
           },
           "role": {
             "type": "string",
             "description": "The user's role"
           },
           "facility_id": {
             "type": "integer",
             "description": "The facility associated with the user"
           },
           "password_reset": {
             "type": "boolean",
             "description": "Whether the user has requested a password reset"
           }
         }
       }
     }
   }
