name: Run Oxlint + ESLint Typescript Linters

on: [pull_request, push]

jobs:
  oxlint:
    name: Lint JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
         cd frontend && \
         corepack install -g yarn && \
         yarn && \
         yarn lint && \
         yarn build
