name: golangci-lint
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60.1
          args: -v ./backend/cmd ./backend/migrations ./backend/src/handlers ./backend/src/database ./backend/src/models ./provider-middleware
          install-mode: "binary"
      - name: check go mod
        run: |
          cd backend && go mod tidy
