name: Run Oxlint + ESLint Typescript Linters

on: [pull_request, push]

jobs:
  oxlint:
    name: Lint JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
         cd frontend && \
         npm install && \
         npm run lint-staged && \
         npm run build
